<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-right-lg "> <p> ©2023 <%= link_to "Texas Advanced Computing Center", 'https://www.tacc.utexas.edu' %></p> </div>
        </div>
    </div>
</footer>