<% content_for :title, "Home | DrugDiscovery@TACC" %>

<div class="jumbotron">
    <!-- <div class="center-block collapse"><img src="images/Design-safe-logo-4.jpg" class="center-block" style="max-width: 50%;"></img></div> -->
    <h2>Thank you for visiting the Virtual Drug Discovery Portal!</h2>
    <p class="lead">
        This application has been re-written, expanded with new features, and moved to our <a href="https://utrc.tacc.utexas.edu/workbench">UTRC Web Portal</a>. It is listed as Autodock-Vina 1.2.3.
    </p>
</div>

<div class="home-contents">
    <div class="center-block collapse"><%= image_tag "1cip_white_artistically_compromised.jpg" %></div>
    <div class="about">
        <h3>About Drug Discovery @TACC</h3>
        <p>The original idea for this site was from the existing docking portal run at UTMB, Docking At UTMB. In order to scale the size of the docking computations, the portal was rewritten to work with TACC's infrastructure. A collaboration was launched between UTMB and TACC to build the portal infrastructure and docking execution pipeline to run on TACC's high performance computing computational resources. Today, the project continues to expand in technical capability and offerings while supporting an ever-growing community.</p>
        <p><strong>Contributors:</strong><br>
            Dr. Stan Watowich (UTMB)<br>
            Usha Viswanathan (UTMB)<br>
            Stephen Mock (TACC)<br>
            John Fonner (TACC)<br>
            Joe Allen (TACC)<br>
            Sal Tijerina (TACC)<br>
            Suman Sirimulla (UTEP)<br>
            Erik Ferlanti (TACC)<br>
            Austin Darrow (TACC)<br>
            Tiffany Huff (TACC)<br>
            Joshua Medina (TACC)<br>
        </p>
    </div>
</div>