.banner {
  background-color: #039;
  color: #fff;
  padding: .5em;
  display: grid;
  grid-template-columns: 100px 10fr 1fr;
  align-items: center;
}

.banner .logo {
  float: left;
}

.banner .wordmark {
  margin-left: 200px;
  padding: .25em .5em;
  border-left: 1px solid #fff;
}

.banner .wordmark h1, h2 {
  margin: .25em 0;
}

.banner .wordmark h1 {
  font-size: 1.3em;
}

.banner .wordmark h2 {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}

@media (max-width: 767px) {
  .banner .wordmark {
    clear: both;
    margin-left: 0;
    border-left: 0;
  }

  .banner .wordmark h1 {
    font-size: 1.2em;
  }

  .banner .wordmark h2 {
    font-size: 0.9em;
  }

  .tutorial-item {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  }
}

.navbar {
  background-color: #039;
  color: #fff;
  padding: 0.5em;
  border-radius: 0;
  border-top: 1px solid #fff;
}

.nav {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.container .jumbotron {
  border-radius: 0;
}

.footer a {
  color: #FFF;
}

.nav > li > a {
  margin-right: 10px;
  font-size: 22px;
  color: #FFF;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #003bb3;
  border-left: 1px solid #002a80;
  border-right: 1px solid #002a80;
}

.footer a:hover, .footer a:focus {
  background-color: #003bb3;
  border-left: 1px solid #002a80;
  border-right: 1px solid #002a80;
}

a {
  text-decoration: none;
}

.content {
  flex: 1 0 auto;
}

#faqs, #documentation {
  margin: 0 4rem;
}

.tutorial-item {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}

.tutorial-img {
  width: 40rem;
  margin: none;
}

th {
  padding: 10px;
}

.center {
  text-align: center;
}

.home-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 4rem 2rem 2rem;
}

body {
  margin: 0;
}

.footer {
  flex-shrink: 0;
  background-color: #039;
  color: #fff;
  padding: .5em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacing {
  height: 5rem;
}

.jumbotron {
  margin: 0 4rem;
}